In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
pd.set_option('display.max_column',None)
pd.set_option('display.max_row',None)
pd.set_option('display.max_colwidth',None)

In [3]:
df=pd.read_csv("C:\Mentorship program\project\cleaned data\gurgaon_properties_cleaned_v1.csv")
df.head(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,signature global park 4,sector 36,0.82,7585.0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet area: 650 sq.ft. (60.39 sq.m.),3,2,2,not available,2.0,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall Sohna', 'Omaxe Gurgaon Mall', 'Badshahpur Sohna Rd Hwy', 'Vidya Niketan School', 'KIIT College of Engg', 'Scottish High International School', 'Rawal Institutions', 'Park Hospital', 'Indira Gandhi Intl Airport', 'Spaze Business Park', 'DLF Cyber City']",NaN,"['Lift(s)', 'Park']"
1,flat,smart world gems,sector 89,0.95,8600.0,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,"study room,servant room",4.0,NaN,Within 6 months,"['Sant Soordas Sihi Metro Station', 'Airia Mall', 'Dwarka Expressway', 'Pataudi Road', 'NH-8', 'KMP Expressway', 'RPS International School', 'Genesis Hospital Sector 84', 'Gurgaon Railway Station', 'Vatika Business Park Sector 49', 'Holiday Inn Gurugram Sector 90', 'De Adventure Amusement Park', 'National Tennis Academy Sector 98', 'IMT Manesar']",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Piped-gas', 'Internet/wi-fi connectivity', 'Fitness Centre / GYM', 'Club house / Community Center']"
2,flat,pyramid elite,sector 86,0.46,79.0,58228.0,Carpet area: 58141 (5401.48 sq.m.),2,2,1,not available,0.0,NaN,Under Construction,"['V3S Sapphire Ninety Mall', 'Sector 86 Road', 'Dwarka Expy', 'RPS International School', 'SGT University', 'Shree Radhey Hospital And Trauma Center', 'Indira Gandhi Intl Airport', 'Garhi Harsaru Junction']",[],"['Intercom Facility', 'Lift(s)', 'Park']"
3,flat,breez global hill view,sohna road,0.32,5470.0,585.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 585 sq.ft. (54.35 sq.m.),2,2,1,not available,17.0,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Ninex City Mart', 'Vaels Ravindra Bharathi Global School', 'Anjali nursery', 'Polaris Hospital', 'Axis Bank', 'Triangular Park', 'Flow Sports Life Badminton Club', 'Basai Dhankot Railway Station', 'Cars24', 'Radisson Hotel Gurugram', ""McDonald's"", 'Petrol Pump', 'Indian Post Office']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']"
4,flat,bestech park view sanskruti,sector 92,1.60,8020.0,1995.0,Super Built up area 1995(185.34 sq.m.)Built Up area: 1615 sq.ft. (150.04 sq.m.)Carpet area: 1476 sq.ft. (137.12 sq.m.),3,4,3+,"servant room,others",10.0,North-West,1 to 5 Year Old,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-8, Imt Manesar', 'Western Peripheral Expressway', 'RPS International School Sector 89', 'DPG Institute of Technology', 'Aarvy Healthcare Hospital', 'Indira Gandhi International Airport', 'Holiday Inn Sector 90', 'De Adventure Park', 'National Tennis Academy Sector 98']","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Geyser', '15 Light', '5 AC', '1 Chimney', '4 Curtains', '1 Modular Kitchen', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Centrally Air Conditioned', 'Water purifier', 'Security / Fire Alarm', 'Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Bank Attached Property', 'Piped-gas', 'Internet/wi-fi connectivity', 'Recently Renovated', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']"

In [4]:
df.sample(5)[['price','area','areaWithType']]

,price,area,areaWithType
3303,8.10,2295.0,Plot area 255(213.21 sq.m.)
2325,7.90,3950.0,Built Up area: 3950 (366.97 sq.m.)Carpet area: 2900 sq.ft. (269.42 sq.m.)
3681,1.60,2191.0,Super Built up area 2191(203.55 sq.m.)Built Up area: 2000 sq.ft. (185.81 sq.m.)Carpet area: 1800 sq.ft. (167.23 sq.m.)
941,1.76,1721.0,Super Built up area 1692(157.19 sq.m.)
968,0.96,1774.0,Super Built up area 1404(130.44 sq.m.)

In [5]:
#This funnction extractt super built up area
def get_super_built_up_area(text):
    match=re.search(r'Super Built up area (\d+\.?\d*)',text)
    if match:
        return float(match.group(1))
    return None

In [6]:
def get_area(text,area_type):
    match = re.search(area_type +r'\s*:\s*(\d+\.?\d+)',text)
    if match:
        return float(match.group(1))
    return None

In [7]:
def convert_to_sqft(text,area_value):
    if area_value is None:
        return None
    match =re.search(r'{}\((\d+\.?\d*)sq.m.\)'.format(area_value),text)
    if match:
        sq_m_value = float(match.group(1))
        return sq_m_value * 10.7639
    return area_value

In [8]:
df['super_built_up_area']=df['areaWithType'].apply(get_super_built_up_area)
df['super_built_up_area']=df.apply(lambda x: convert_to_sqft(x['areaWithType'],x['super_built_up_area']),axis=1)

df['built_up_area']=df['areaWithType'].apply(lambda x: get_area(x, 'Built Up area'))
df['built_up_area']=df.apply(lambda x: convert_to_sqft(x['areaWithType'],x['built_up_area']),axis=1)

df['carpet_area']=df['areaWithType'].apply(lambda x: get_area(x, 'Carpet area'))
df['carpet_area']=df.apply(lambda x: convert_to_sqft(x['areaWithType'],x['carpet_area']),axis=1)

In [9]:
df[['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']].sample(5)

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
2451,3.45,flat,2950.0,Super Built up area 2950(274.06 sq.m.),2950.0,NaN,NaN
3268,0.42,house,450.0,Built Up area: 450 (41.81 sq.m.),NaN,450.0,NaN
3459,0.68,flat,580.0,Carpet area: 580 (53.88 sq.m.),NaN,NaN,580.0
827,0.42,flat,850.0,Super Built up area 850(78.97 sq.m.),850.0,NaN,NaN
2961,1.25,flat,2050.0,Carpet area: 2050 (190.45 sq.m.),NaN,NaN,2050.0

In [10]:
df.isnull().sum()

property_type             0
society                   1
sector                    0
price                    18
price_per_sqft           18
area                     18
areaWithType              0
bedRoom                   0
bathroom                  0
balcony                   0
additionalRoom            0
floorNum                 19
facing                 1105
agePossession             1
nearbyLocations         177
furnishDetails          981
features                635
super_built_up_area    1888
built_up_area          2616
carpet_area            1859
dtype: int64

In [11]:
all_nan_df=df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']]

In [12]:
all_nan_index = df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']].index

In [13]:
def extract_plot_area(area_with_type):
    match = re.search(r'Plot area (\d+\.?\d*)',area_with_type)
    return float(match.group(1)) if match else None

In [14]:
all_nan_df['built_up_area']= all_nan_df['areaWithType'].apply(extract_plot_area)

In [15]:
all_nan_df

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
9,1.20,house,1186.0,Plot area 1185.51(110.14 sq.m.),NaN,1185.51,NaN
10,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
19,5.50,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
25,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
26,7.00,house,2475.0,Plot area 275(229.94 sq.m.),NaN,275.00,NaN
28,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,50.00,NaN
29,5.65,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
31,4.40,house,2880.0,Plot area 320(267.56 sq.m.),NaN,320.00,NaN
38,NaN,house,NaN,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
40,6.10,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
45,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
48,1.25,house,82781.0,Plot area 115(7692.86 sq.m.),NaN,115.00,NaN
66,0.50,house,55.0,Plot area 55(5.11 sq.m.),NaN,55.00,NaN
67,0.67,house,783.0,Plot area 87(72.74 sq.m.),NaN,87.00,NaN
70,4.15,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
74,7.60,house,1961.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
77,2.99,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
81,1.50,house,1980.0,Plot area 220(183.95 sq.m.),NaN,220.00,NaN
96,10.45,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
119,7.49,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
126,3.20,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
127,6.95,house,1800.0,Plot area 192(160.54 sq.m.),NaN,192.00,NaN
136,1.95,house,920.0,Plot area 920(85.47 sq.m.),NaN,920.00,NaN
139,4.70,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
140,0.70,house,864.0,Plot area 864(80.27 sq.m.),NaN,864.00,NaN
142,6.50,house,5400.0,Plot area 5400(501.68 sq.m.),NaN,5400.00,NaN
149,3.90,house,1836.0,Plot area 204(170.57 sq.m.),NaN,204.00,NaN
155,2.25,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
156,11.00,house,4125.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
162,4.35,house,3222.0,Plot area 358(299.33 sq.m.),NaN,358.00,NaN
183,6.75,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
186,1.50,house,1300.0,Plot area 1300(120.77 sq.m.),NaN,1300.00,NaN
192,8.50,house,4770.0,Plot area 530(443.15 sq.m.),NaN,530.00,NaN
239,3.15,house,1548.0,Plot area 172(143.81 sq.m.),NaN,172.00,NaN
247,0.89,house,477.0,Plot area 477(44.31 sq.m.),NaN,477.00,NaN
255,3.75,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.00,NaN
273,3.65,house,3450.0,Plot area 3450(320.52 sq.m.),NaN,3450.00,NaN
276,7.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
278,5.50,house,2592.0,Plot area 288(240.8 sq.m.),NaN,288.00,NaN
304,NaN,house,NaN,Plot area 670(560.21 sq.m.),NaN,670.00,NaN
309,5.00,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
317,5.80,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
324,6.50,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
329,2.70,house,1450.0,Plot area 1450(134.71 sq.m.),NaN,1450.00,NaN
333,4.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
334,0.75,house,1170.0,Plot area 130(108.7 sq.m.),NaN,130.00,NaN
342,7.10,house,251.0,Plot area 240(22.3 sq.m.),NaN,240.00,NaN
350,8.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
354,6.50,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
355,0.95,house,1070.0,Plot area 1070(99.41 sq.m.),NaN,1070.00,NaN
372,4.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
386,5.50,house,1000.0,Plot area 1000(92.9 sq.m.),NaN,1000.00,NaN
392,6.50,house,2500.0,Plot area 2500(232.26 sq.m.),NaN,2500.00,NaN
393,1.00,house,1215.0,Plot area 135(112.88 sq.m.),NaN,135.00,NaN
397,6.00,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
400,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
401,NaN,house,NaN,Plot area 1000(92.9 sq.m.),NaN,1000.00,NaN
404,8.95,house,5000.0,Plot area 5000(464.52 sq.m.),NaN,5000.00,NaN
408,4.95,house,2403.0,Plot area 267(223.25 sq.m.),NaN,267.00,NaN
412,12.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
416,4.25,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
420,3.10,house,3653.0,Plot area 3653(339.37 sq.m.),NaN,3653.00,NaN
430,9.90,house,3375.0,Plot area 375(313.55 sq.m.),NaN,375.00,NaN
431,10.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
439,6.50,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
441,4.00,house,1503.0,Plot area 167(139.63 sq.m.),NaN,167.00,NaN
449,2.68,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
453,12.00,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
455,2.20,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
468,0.49,house,1150.0,Plot area 1150(106.84 sq.m.),NaN,1150.00,NaN
472,3.60,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
478,12.00,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
480,5.40,house,2610.0,Plot area 290(242.48 sq.m.),NaN,290.00,NaN
503,4.60,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
514,9.00,house,3159.0,Plot area 351(293.48 sq.m.),NaN,351.00,NaN
521,0.65,house,585.0,Plot area 65(54.35 sq.m.),NaN,65.00,NaN
523,6.20,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
526,18.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
530,0.96,house,960.0,Plot area 945(87.79 sq.m.),NaN,945.00,NaN
540,4.49,house,1836.0,Plot area 204(170.57 sq.m.),NaN,204.00,NaN
564,11.95,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
565,3.50,house,1440.0,Plot area 1440(133.78 sq.m.),NaN,1440.00,NaN
568,2.75,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
575,0.70,house,684.0,Plot area 684(63.55 sq.m.),NaN,684.00,NaN
576,3.25,house,981.0,Plot area 109(91.14 sq.m.),NaN,109.00,NaN
606,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
610,8.48,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
614,8.49,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
626,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
628,3.55,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
642,5.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
645,6.60,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
666,0.58,house,67.0,Plot area 67(6.22 sq.m.),NaN,67.00,NaN
668,3.65,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
671,18.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
676,7.00,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
689,3.50,house,1620.0,Plot area 180(150.5 sq.m.),NaN,180.00,NaN
690,11.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
691,1.70,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
702,0.70,house,1160.0,Plot area 1160(107.77 sq.m.),NaN,1160.00,NaN
711,20.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
721,3.10,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
722,1.55,house,1053.0,Plot area 117(97.83 sq.m.),NaN,117.00,NaN
727,4.00,house,1836.0,Plot area 204(170.57 sq.m.),NaN,204.00,NaN
733,1.15,house,594.0,Plot area 66(55.18 sq.m.),NaN,66.00,NaN
742,5.50,house,2520.0,Plot area 280(234.12 sq.m.),NaN,280.00,NaN
743,0.55,house,1350.0,Plot area 1350(125.42 sq.m.),NaN,1350.00,NaN
744,0.65,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.00,NaN
753,2.80,house,2250.0,Plot area 2250(209.03 sq.m.),NaN,2250.00,NaN
778,9.54,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
790,4.50,house,2880.0,Plot area 320(267.56 sq.m.),NaN,320.00,NaN
800,6.50,house,4320.0,Plot area 480(401.34 sq.m.),NaN,480.00,NaN
802,12.25,house,5850.0,Plot area 5850(543.48 sq.m.),NaN,5850.00,NaN
805,1.07,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
813,NaN,house,NaN,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
821,31.50,house,9000.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
837,1.20,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
852,0.95,house,1065.0,Plot area 1065(98.94 sq.m.),NaN,1065.00,NaN
867,5.50,house,300.0,Plot area 300(27.87 sq.m.),NaN,300.00,NaN
873,5.65,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
874,20.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
879,3.51,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
880,3.60,house,1836.0,Plot area 204(170.57 sq.m.),NaN,204.00,NaN
886,0.92,house,603.0,Plot area 67(56.02 sq.m.),NaN,67.00,NaN
901,12.00,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
919,6.30,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
922,NaN,house,NaN,Plot area 350(292.64 sq.m.),NaN,350.00,NaN
926,2.35,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
928,16.00,house,4571.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
934,2.00,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.00,NaN
935,0.80,house,675.0,Plot area 75(62.71 sq.m.),NaN,75.00,NaN
937,6.00,house,6228.0,Plot area 692(578.6 sq.m.),NaN,692.00,NaN
944,1.55,house,1116.0,Plot area 120(100.34 sq.m.),NaN,120.00,NaN
966,19.50,house,8775.0,Plot area 975(815.22 sq.m.),NaN,975.00,NaN
974,10.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
975,6.75,house,232.0,Plot area 232(21.55 sq.m.),NaN,232.00,NaN
980,0.70,house,1700.0,Plot area 1700(157.94 sq.m.),NaN,1700.00,NaN
981,9.00,house,4680.0,Plot area 520(434.79 sq.m.),NaN,520.00,NaN
990,6.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1000,3.71,house,1872.0,Plot area 208(173.91 sq.m.),NaN,208.00,NaN
1009,4.50,house,4950.0,Plot area 550(459.87 sq.m.),NaN,550.00,NaN
1012,15.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1023,3.40,house,1530.0,Plot area 170(142.14 sq.m.),NaN,170.00,NaN
1025,14.00,house,3510.0,Plot area 390(326.09 sq.m.),NaN,390.00,NaN
1032,0.34,house,270.0,Plot area 270(25.08 sq.m.),NaN,270.00,NaN
1033,3.50,house,1080.0,Plot area 120(100.34 sq.m.),NaN,120.00,NaN
1039,5.50,house,2340.0,Plot area 260(217.39 sq.m.),NaN,260.00,NaN
1042,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
1049,0.60,house,972.0,Plot area 108(90.3 sq.m.),NaN,108.00,NaN
1050,17.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1063,6.75,house,6228.0,Plot area 692(578.6 sq.m.),NaN,692.00,NaN
1064,1.15,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1078,4.45,house,1265.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1079,3.25,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
1087,4.30,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.00,NaN
1103,5.80,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
1107,8.50,house,6300.0,Plot area 6300(585.29 sq.m.),NaN,6300.00,NaN
1138,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1143,5.25,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
1144,2.50,house,963.0,Plot area 107(89.47 sq.m.),NaN,107.00,NaN
1154,1.35,house,1350.0,Plot area 1350(125.42 sq.m.),NaN,1350.00,NaN
1160,2.20,house,909.0,Plot area 101(84.45 sq.m.),NaN,101.00,NaN
1164,7.69,house,3195.0,Plot area 355(296.83 sq.m.),NaN,355.00,NaN
1167,0.90,house,785.0,Plot area 785(72.93 sq.m.),NaN,785.00,NaN
1171,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1175,3.10,house,1548.0,Plot area 172(143.81 sq.m.),NaN,172.00,NaN
1178,0.65,house,500.0,Plot area 500(46.45 sq.m.),NaN,500.00,NaN
1181,5.85,house,2214.0,Plot area 246(205.69 sq.m.),NaN,246.00,NaN
1187,5.15,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
1191,7.25,house,2471.0,Plot area 303(253.35 sq.m.),NaN,303.00,NaN
1195,3.60,house,1728.0,Plot area 192(160.54 sq.m.),NaN,192.00,NaN
1196,3.60,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
1200,14.75,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.00,NaN
1217,5.50,house,2385.0,Plot area 265(221.57 sq.m.),NaN,265.00,NaN
1218,7.20,house,4521.0,Plot area 420,NaN,420.00,NaN
1222,5.50,house,4200.0,Plot area 4200(390.19 sq.m.),NaN,4200.00,NaN
1224,0.75,house,713.0,Plot area 713(66.24 sq.m.),NaN,713.00,NaN
1228,7.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1234,4.00,house,2400.0,Plot area 2400(222.97 sq.m.),NaN,2400.00,NaN
1238,2.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1252,17.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1259,7.25,house,360.0,Plot area 360(33.45 sq.m.),NaN,360.00,NaN
1266,15.10,house,8116.0,Plot area 754,NaN,754.00,NaN
1275,6.75,house,2088.0,Plot area 232(193.98 sq.m.),NaN,232.00,NaN
1276,8.40,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.00,NaN
1277,0.80,house,146.0,Plot area 146(13.56 sq.m.),NaN,146.00,NaN
1297,3.25,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
1301,0.59,house,585.0,Plot area 585(54.35 sq.m.),NaN,585.00,NaN
1311,1.50,house,1053.0,Plot area 117(97.83 sq.m.),NaN,117.00,NaN
1312,6.75,house,2115.0,Plot area 235(196.49 sq.m.),NaN,235.00,NaN
1345,9.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1351,5.60,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1356,0.85,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1359,1.30,house,1152.0,Plot area 1152(107.02 sq.m.),NaN,1152.00,NaN
1368,0.47,house,587.0,Plot area 624(57.97 sq.m.),NaN,624.00,NaN
1373,6.21,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1381,7.05,house,1503.0,Plot area 167(139.63 sq.m.),NaN,167.00,NaN
1384,0.80,house,981.0,Plot area 109(91.14 sq.m.),NaN,109.00,NaN
1385,9.50,house,546.0,Plot area 546(50.73 sq.m.),NaN,546.00,NaN
1392,1.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1396,8.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1407,0.40,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1419,NaN,house,NaN,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1424,4.65,house,2646.0,Plot area 294(245.82 sq.m.),NaN,294.00,NaN
1440,8.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1457,2.50,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1471,0.85,house,13492.0,Plot area 1500(1254.19 sq.m.),NaN,1500.00,NaN
1478,9.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1490,3.20,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.00,NaN
1492,0.37,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
1506,0.66,house,612.0,Plot area 612(56.86 sq.m.),NaN,612.00,NaN
1513,3.00,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
1526,19.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1528,8.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1532,1.20,house,538.0,Plot area 50,NaN,50.00,NaN
1537,0.82,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
1541,3.30,house,1242.0,Plot area 138(115.39 sq.m.),NaN,138.00,NaN
1543,6.80,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
1547,1.10,house,200.0,Plot area 200(18.58 sq.m.),NaN,200.00,NaN
1553,7.00,house,6228.0,Plot area 692(578.6 sq.m.),NaN,692.00,NaN
1558,2.00,house,1337.0,Plot area 1337.4(124.25 sq.m.),NaN,1337.40,NaN
1562,0.50,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.00,NaN
1564,10.55,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1580,0.49,house,436.0,Plot area 360(33.45 sq.m.),NaN,360.00,NaN
1589,1.00,house,126.0,Plot area 126(11.71 sq.m.),NaN,126.00,NaN
1594,2.20,house,3200.0,Plot area 3200(297.29 sq.m.),NaN,3200.00,NaN
1597,11.58,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1598,2.30,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
1608,5.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1624,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1634,6.50,house,3456.0,Plot area 384(321.07 sq.m.),NaN,384.00,NaN
1639,5.00,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.00,NaN
1640,14.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
1644,1.60,house,508.0,Plot area 60(50.17 sq.m.),NaN,60.00,NaN
1645,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.00,NaN
1649,1.60,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.00,NaN
1651,8.40,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
1666,1.40,house,1609.0,Plot area 166(138.8 sq.m.),NaN,166.00,NaN
1675,0.24,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.00,NaN
1677,5.75,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.00,NaN
1686,25.00,house,8036.0,Plot area 1000(836.13 sq.m.),NaN,1000.00,NaN
1687,19.50,house,7200.0,Plot area 800(668.9 sq.m.),NaN,800.00,NaN
1693,9.40,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
1696,0.42,house,50.0,Plot area 50(4.65 sq.m.),NaN,50.00,NaN
1706,6.80,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
1728,3.25,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
1731,3.50,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
1737,0.37,house,360.0,Plot area 360(33.45 sq.m.),NaN,360.00,NaN
1747,2.50,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
1770,7.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
1772,5.46,house,2259.0,Plot area 251(209.87 sq.m.),NaN,251.00,NaN
1777,13.50,house,3618.0,Plot area 402(336.12 sq.m.),NaN,402.00,NaN
1781,3.25,house,1512.0,Plot area 168(140.47 sq.m.),NaN,168.00,NaN
1803,1.35,house,3500.0,Plot area 3500(325.16 sq.m.),NaN,3500.00,NaN
1845,10.50,house,3618.0,Plot area 402(336.12 sq.m.),NaN,402.00,NaN
1851,0.99,house,576.0,Plot area 64(53.51 sq.m.),NaN,64.00,NaN
1854,6.75,house,3420.0,Plot area 380(317.73 sq.m.),NaN,380.00,NaN
1870,8.50,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.00,NaN
1871,3.50,house,2610.0,Plot area 290(242.48 sq.m.),NaN,290.00,NaN
1873,10.00,house,4500.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1875,1.70,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.00,NaN
1876,1.70,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.00,NaN
1878,7.00,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
1883,4.00,house,981.0,Plot area 109(91.14 sq.m.),NaN,109.00,NaN
1892,3.75,house,1701.0,Plot area 189(158.03 sq.m.),NaN,189.00,NaN
1905,6.25,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.00,NaN
1913,5.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.00,NaN
1925,0.60,house,57.0,Plot area 57(5.3 sq.m.),NaN,57.00,NaN
1928,2.50,house,3194.0,Plot area 3194(296.73 sq.m.),NaN,3194.00,NaN
1939,1.10,house,1782.0,Plot area 1782(165.55 sq.m.),NaN,1782.00,NaN
1944,13.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
1945,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.00,NaN
1946,3.00,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.00,NaN
1951,0.90,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
1953,0.51,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.00,NaN
1957,4.70,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.00,NaN
1961,0.40,house,432.0,Plot area 432(40.13 sq.m.),NaN,432.00,NaN
1963,3.99,house,4500.0,Plot area 4500(418.06 sq.m.),NaN,4500.00,NaN
1994,3.55,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.00,NaN
1996,3.50,house,1620.0,Plot area 180(150.5 sq.m.),NaN,180.00,NaN
1997,0.53,house,363.0,Plot area 360(33.45 sq.m.),NaN,360.00,NaN
2003,18.90,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
2026,10.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
2039,13.50,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
2047,1.85,house,60.0,Plot area 60(5.57 sq.m.),NaN,60.00,NaN
2057,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
2063,4.35,house,1836.0,Plot area 204(170.57 sq.m.),NaN,204.00,NaN
2081,7.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.00,NaN
2083,4.00,house,6001.0,Plot area 6000(557.42 sq.m.),NaN,6000.00,NaN
2085,8.50,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
2096,20.00,house,4091.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
2102,15.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
2103,1.40,house,1700.0,Plot area 1700(157.94 sq.m.),NaN,1700.00,NaN
2104,2.40,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.00,NaN
2109,8.81,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.00,NaN
2113,9.85,house,3323.0,Plot area 418(349.5 sq.m.),NaN,418.00,NaN
2118,4.31,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.00,NaN
2128,2.15,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.00,NaN
2130,19.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.00,NaN
2137,12.00,house,3078.0,Plot area 342(285.96 sq.m.),NaN,342.00,NaN
2139,NaN,house,NaN,Plot area 520(434.79 sq.m.),NaN,520.00,NaN
2147,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.00,NaN
2153,2.10,house,549.0,Plot area 61(51 sq.m.),NaN,61.00,NaN
2154,0.65,house,720.0,Plot area 80(66.89 sq.m.),NaN,80.00,NaN
2160,2.55,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.00,NaN
2161,10.50,house,402.0,Plot area 402(37.35 sq.m.),NaN,402.00,NaN

In [16]:
def convert_scale(row):
    if np.isnan(row['area']) or np.isnan(row['built_up_area']):
        return row['built_up_area']
    else:
        if round(row['area']/row['built_up_area'])==9.0:
            return row['built_up_area']*9
        elif round(row['area']/row['built_up_area'])==11.0:
            return row['built_up_area']*10.7
        else:
            return row['built_up_area']

In [17]:
all_nan_df['built_up_area'] = all_nan_df.apply(convert_scale,axis=1)

In [18]:
all_nan_df.head(5)

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
9,1.2,house,1186.0,Plot area 1185.51(110.14 sq.m.),NaN,1185.51,NaN
10,4.5,house,1350.0,Plot area 150(125.42 sq.m.),NaN,1350.00,NaN
19,5.5,house,1440.0,Plot area 160(133.78 sq.m.),NaN,1440.00,NaN
25,9.0,house,3240.0,Plot area 360(301.01 sq.m.),NaN,3240.00,NaN
26,7.0,house,2475.0,Plot area 275(229.94 sq.m.),NaN,2475.00,NaN

In [19]:
df.update(all_nan_df)

In [20]:
df.isnull().sum()

property_type             0
society                   1
sector                    0
price                    18
price_per_sqft           18
area                     18
areaWithType              0
bedRoom                   0
bathroom                  0
balcony                   0
additionalRoom            0
floorNum                 19
facing                 1105
agePossession             1
nearbyLocations         177
furnishDetails          981
features                635
super_built_up_area    1888
built_up_area          2070
carpet_area            1859
dtype: int64

## Additional rooms

In [21]:
df['additionalRoom'].value_counts()

not available                                    1587
servant room                                      705
study room                                        250
others                                            225
pooja room                                        165
store room                                         99
study room,servant room                            99
pooja room,servant room                            82
pooja room,study room,servant room,store room      72
servant room,others                                60
pooja room,study room,servant room                 55
pooja room,study room,servant room,others          54
servant room,pooja room                            38
servant room,store room                            33
study room,others                                  29
pooja room,study room                              22
pooja room,others                                  17
pooja room,store room                              15
pooja room,store room,study room,servant room      12
servant room,study room                            12
study room,servant room,store room                 11
pooja room,servant room,others                     11
study room,pooja room                              10
servant room,study room,pooja room,store room      10
study room,servant room,pooja room,store room       8
store room,servant room                             8
pooja room,study room,store room                    7
study room,pooja room,servant room                  7
pooja room,servant room,store room                  7
study room,servant room,others                      7
others,servant room                                 6
servant room,pooja room,store room                  6
store room,pooja room                               5
pooja room,servant room,study room,store room       5
study room,servant room,store room,pooja room       5
study room,servant room,pooja room                  4
pooja room,study room,others                        4
servant room,store room,pooja room                  4
study room,pooja room,store room                    4
pooja room,study room,store room,servant room       3
servant room,others,pooja room                      3
study room,pooja room,servant room,store room       3
servant room,pooja room,study room,store room       3
servant room,study room,pooja room                  3
store room,pooja room,study room,servant room       2
study room,pooja room,store room,servant room       2
store room,pooja room,servant room                  2
store room,pooja room,study room                    2
study room,store room                               2
servant room,study room,store room                  2
servant room,others,store room,pooja room           2
store room,study room                               1
store room,study room,servant room                  1
servant room,study room,others                      1
store room,servant room,pooja room                  1
servant room,store room,study room,pooja room       1
study room,store room,pooja room                    1
study room,others,servant room                      1
servant room,study room,store room,pooja room       1
others,study room                                   1
servant room,pooja room,store room,study room       1
store room,servant room,study room,pooja room       1
servant room,pooja room,study room                  1
pooja room,store room,servant room                  1
store room,pooja room,servant room,study room       1
Name: additionalRoom, dtype: int64

In [22]:
new_cols = ['servant room','study room','store room','pooja room' ,'others']

for col in new_cols:
    df[col] = df['additionalRoom'].str.contains(col).astype(int)

In [23]:
df.sample(5)[['additionalRoom','servant room','study room','store room','pooja room' ,'others']]

,additionalRoom,servant room,study room,store room,pooja room,others
635,"pooja room,servant room",1,0,0,1,0
1792,servant room,1,0,0,0,0
1145,not available,0,0,0,0,0
2461,not available,0,0,0,0,0
1697,not available,0,0,0,0,0

## Age possession

In [24]:
df['agePossession'].value_counts()

1 to 5 Year Old       1676
5 to 10 Year Old       575
0 to 1 Year Old        530
undefined              332
10+ Year Old           310
Under Construction      90
Within 6 months         70
Within 3 months         26
Dec 2023                22
By 2023                 19
By 2024                 17
Dec 2024                16
Mar 2024                14
Oct 2024                 8
Jan 2024                 8
Aug 2023                 7
Dec 2025                 7
Jun 2024                 7
Nov 2023                 5
Aug 2024                 4
Sep 2023                 4
Jul 2024                 4
Oct 2023                 4
By 2025                  4
Nov 2024                 3
May 2024                 3
Feb 2024                 3
Jan 2025                 3
By 2027                  2
Sep 2025                 2
Dec 2026                 2
Jul 2025                 2
Jan 2026                 2
Jun 2027                 2
Jul 2027                 2
Mar 2025                 2
Oct 2025                 2
Apr 2026                 2
Aug 2025                 2
Jun 2025                 1
Jul 2026                 1
Apr 2024                 1
Jan 2027                 1
Nov 2025                 1
Mar 2026                 1
Jan 2028                 1
Aug 2026                 1
Sep 2027                 1
Name: agePossession, dtype: int64

In [25]:
def categorize_age_possession(value):
    if pd.isna(value):
        return 'Undefined'
    if '0 to 1 Year Old' in value or 'Within 6 months' in value:
        return 'New property'
    if '1 to 5 Year Old' in value:
        return 'Relatively new'
    if '5 to 10 Year Old' in value:
        return 'Moderately old'
    if '10+ Year Old' in value:
        return 'Old Property'
    if 'Under Construction' in value or 'By' in value:
        return 'Under Construction'
    try:
        int(value.split(' ')[-1])
        return 'Under Construction'
    except:
        return 'undefined '

In [26]:
df['agePossession'] =df['agePossession'].apply(categorize_age_possession)

In [27]:
df.head(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,super_built_up_area,built_up_area,carpet_area,servant room,study room,store room,pooja room,others
0,flat,signature global park 4,sector 36,0.82,7585.0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet area: 650 sq.ft. (60.39 sq.m.),3,2,2,not available,2.0,NaN,New property,"['Sector 55-56 Metro Station', 'The Leaf Mall Sohna', 'Omaxe Gurgaon Mall', 'Badshahpur Sohna Rd Hwy', 'Vidya Niketan School', 'KIIT College of Engg', 'Scottish High International School', 'Rawal Institutions', 'Park Hospital', 'Indira Gandhi Intl Airport', 'Spaze Business Park', 'DLF Cyber City']",NaN,"['Lift(s)', 'Park']",1081.0,NaN,650.0,0,0,0,0,0
1,flat,smart world gems,sector 89,0.95,8600.0,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,"study room,servant room",4.0,NaN,New property,"['Sant Soordas Sihi Metro Station', 'Airia Mall', 'Dwarka Expressway', 'Pataudi Road', 'NH-8', 'KMP Expressway', 'RPS International School', 'Genesis Hospital Sector 84', 'Gurgaon Railway Station', 'Vatika Business Park Sector 49', 'Holiday Inn Gurugram Sector 90', 'De Adventure Amusement Park', 'National Tennis Academy Sector 98', 'IMT Manesar']",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Piped-gas', 'Internet/wi-fi connectivity', 'Fitness Centre / GYM', 'Club house / Community Center']",NaN,NaN,1103.0,1,1,0,0,0
2,flat,pyramid elite,sector 86,0.46,79.0,58228.0,Carpet area: 58141 (5401.48 sq.m.),2,2,1,not available,0.0,NaN,Under Construction,"['V3S Sapphire Ninety Mall', 'Sector 86 Road', 'Dwarka Expy', 'RPS International School', 'SGT University', 'Shree Radhey Hospital And Trauma Center', 'Indira Gandhi Intl Airport', 'Garhi Harsaru Junction']",[],"['Intercom Facility', 'Lift(s)', 'Park']",NaN,NaN,58141.0,0,0,0,0,0
3,flat,breez global hill view,sohna road,0.32,5470.0,585.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 585 sq.ft. (54.35 sq.m.),2,2,1,not available,17.0,NaN,New property,"['Huda City Centre', 'Omaxe City Centre', 'Ninex City Mart', 'Vaels Ravindra Bharathi Global School', 'Anjali nursery', 'Polaris Hospital', 'Axis Bank', 'Triangular Park', 'Flow Sports Life Badminton Club', 'Basai Dhankot Railway Station', 'Cars24', 'Radisson Hotel Gurugram', ""McDonald's"", 'Petrol Pump', 'Indian Post Office']",[],"['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,1000.0,585.0,0,0,0,0,0
4,flat,bestech park view sanskruti,sector 92,1.60,8020.0,1995.0,Super Built up area 1995(185.34 sq.m.)Built Up area: 1615 sq.ft. (150.04 sq.m.)Carpet area: 1476 sq.ft. (137.12 sq.m.),3,4,3+,"servant room,others",10.0,North-West,Relatively new,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-8, Imt Manesar', 'Western Peripheral Expressway', 'RPS International School Sector 89', 'DPG Institute of Technology', 'Aarvy Healthcare Hospital', 'Indira Gandhi International Airport', 'Holiday Inn Sector 90', 'De Adventure Park', 'National Tennis Academy Sector 98']","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Geyser', '15 Light', '5 AC', '1 Chimney', '4 Curtains', '1 Modular Kitchen', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Centrally Air Conditioned', 'Water purifier', 'Security / Fire Alarm', 'Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Bank Attached Property', 'Piped-gas', 'Internet/wi-fi connectivity', 'Recently Renovated', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']",1995.0,1615.0,1476.0,1,0,0,0,1

In [28]:
df.sample(5)[['furnishDetails','features']]

,furnishDetails,features
2592,[],"['Water Storage', 'Park', 'Visitor Parking']"
3580,"['5 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Centrally Air Conditioned', 'Maintenance Staff', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']"
3294,"['1 Water Purifier', '7 Fan', '1 Exhaust Fan', '1 Dining Table', '5 Geyser', '1 Stove', '99 Light', '7 AC', '1 Chimney', '6 Curtains', '1 Modular Kitchen', '7 Wardrobe', '1 Sofa', '1 Microwave', 'No Bed', 'No Fridge', 'No TV', 'No Washing Machine']","['Intercom Facility', 'Lift(s)', 'Park']"
3182,NaN,"['Water purifier', 'Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'No open drainage around', 'Piped-gas', 'Internet/wi-fi connectivity', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']"
3737,[],NaN

In [32]:
all_furnishings =[]
for detail in df['furnishDetails'].dropna():
    furnishings = detail.replace('[','').replace(']','').replace("'","").split(',')
    all_furnishings.extend(furnishings)
unique_furnishings = list(set(all_furnishings))    

#definne a function to extract the count of a furnishing from the furnishdetails
def get_furnishing_count(details,furnishings):
    if isinstance(details,str):
        if f"no {furnishing}" in details:
            return 0
        pattern = re.compile(f"(\d+){furnishing}")
        match = pattern.search(details)
        if match:
            return int(match.group(1))
        elif furnishing in details:
            return 1
        return 0
    
# simplifying the furnishing list by removing the 'No' prefix and number

columns_to_include = [re.sub(r'No |\d+','',furnishing).strip() for furnishing in unique_furnishings]
columns_to_include = list(set(columns_to_include))
columns_to_include = [furnishing for furnishing in columns_to_include if furnishing]

#creating new column for each unique furnishing and populate with counts
for furnishing in columns_to_include:
    df[furnishing] = df['furnishDetails'].apply(lambda x: get_furnishing_count(x, furnishing))
    
#create new dataframe with the required columns
furnishings_df = df[['furnishDetails']+ columns_to_include]

In [33]:
furnishings_df.shape

(3803, 19)

In [34]:
furnishings_df.drop(columns=['furnishDetails'],inplace=True)

C:\Users\santo\AppData\Local\Temp\ipykernel_22500\114705885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  furnishings_df.drop(columns=['furnishDetails'],inplace=True)

In [38]:
furnishings_df.sample(5)

,Microwave,TV,Dining Table,Modular Kitchen,Sofa,Stove,Fan,Bed,Exhaust Fan,Water Purifier,Curtains,Washing Machine,Fridge,Geyser,AC,Wardrobe,Chimney,Light
3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1872,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
894,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3516,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [41]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [44]:
scaler = StandardScaler()
scaled_data=scaler.fit_transform(furnishings_df)